.titre1 {
    color: red;
}

.titre2 {
    color: blue;
}

.titre3 {
    color: yellow;
}

.titre4 {
    color: beige;
}

.titre5 {
    font-size: 20px;
}

.titre6 {
    font-size: 2rem;
}

.paragraph1 {
    font-weight: bold;
}

.paragraph2 {
    font-weight: 100;
}

.span1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.span2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button1 {
    border-radius: 10px;
}

.button2 {
border-radius: 10%;
}